<ScrollView
        android:fillViewport="true">
    <LinearLayout
            android:layout_height="wrap_content"
            android:layout_width="match_parent"
            android:orientation="vertical">
        <HtmlView>
            <p style="font-size: 24px;text-align: center">HtmlView</p>
        </HtmlView>
        <HtmlView style="padding:0 20px;box-sizing: border-box;line-height: 20px;">
            <p>HtmlView can wrap any <span style="color: red;font-weight: bold;">HTML tag</span>, render with DOM, but too many HtmlView will reduce FPS.</p>
            <p>HtmlView above on all Android Views</p>
        </HtmlView>
        <TextView android:gravity="center">This is a Android View</TextView>
        <HtmlView style="overflow: visible;text-align: center;">
            <p>This is a HtmlView</p>
        </HtmlView>
    </LinearLayout>
</ScrollView>