<ScrollView>
    <LinearLayout
            android:orientation="vertical"
            android:padding="12dp"
            android:gravity="center">
        <TextView id="android_tip" android:visibility="gone">NOTE:Suggest use Chrome for better experience</TextView>
        <Button onclick="this.getContext().startActivity('sample.app.SampleBaseWidgetActivity')">Base Widget</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleFrameLayoutActivity')">FrameLayout</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleLinearLayoutActivity')">LinearLayout</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleRelativeLayoutActivity')">RelativeLayout</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleTextViewActivity')">TextView</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleButtonActivity')">Button</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleImageViewActivity')">ImageView</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleEditTextActivity')">EditText</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleListViewActivity')">ListView</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleGridViewActivity')">GridView</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleExpandableListViewActivity')">ExpandableListView</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleViewPagerActivity')">ViewPager</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleDrawerLayoutActivity')">DrawerLayout</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleViewPagerGalleryActivity')">ImageGallery&Gesture</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SamplePullRefreshLoadActivity')">List pull refresh & pull load</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SamplePickerActivity')">Picker</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleAnimationActivity')">Animation</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleLifeCallbackActivity')">Activity Life Circel</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleContacteActivity')">Activity Start&Result</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleWebViewActivity')">WebView</Button>
        <Button onclick="this.getContext().startActivity('sample.app.SampleHtmlViewActivity')">HtmlView</Button>
    </LinearLayout>
</ScrollView>