<RelativeLayout>
    <TextView id="text1"
              android:style="@style/textStyle"
              android:text="左上角"
            ></TextView>
    <TextView id="text2"
              android:style="@style/textStyle"
              android:text="右上角"
              android:layout_alignParentRight="true"
            ></TextView>
    <TextView id="text3"
              android:style="@style/textStyle"
              android:text="左下角"
              android:layout_alignParentBottom="true"
            ></TextView>
    <TextView id="text4"
              android:style="@style/textStyle"
              android:text="右下角"
              android:layout_alignParentRight="true"
              android:layout_alignParentBottom="true"
            ></TextView>
    <TextView id="text5"
              android:style="@style/textStyle"
              android:text="垂直居中"
              android:layout_centerVertical="true"
            ></TextView>
    <TextView id="text6"
              android:style="@style/textStyle"
              android:text="水平居中"
              android:layout_centerHorizontal="true"
            ></TextView>
    <TextView id="text7"
              android:style="@style/textStyle"
              android:text="垂直水平居中"
              android:layout_centerInParent="true"
            ></TextView>

    <TextView
            android:style="@style/textStyle"
            android:text="below"
            android:layout_marginTop="4dp"
            android:layout_below="text1"
            ></TextView>

    <TextView
              android:style="@style/textStyle"
              android:text="toRightOf"
              android:layout_marginLeft="4dp"
              android:layout_toRightOf="text3"
              android:layout_alignParentBottom="true"
            ></TextView>
    <TextView
              android:style="@style/textStyle"
              android:text="above"
              android:layout_marginBottom="4dp"
              android:layout_above="text3"
            ></TextView>
    <TextView
              android:style="@style/textStyle"
              android:text="toLeftOf"
              android:layout_marginRight="4dp"
              android:layout_toLeftOf="text4"
              android:layout_alignParentBottom="true"
            ></TextView>

    <TextView
            id="alignLeft"
              android:style="@style/textStyle"
              android:text="  alignLeft  "
              android:layout_marginTop="4dp"
              android:layout_alignLeft="text6"
              android:layout_below="text2"
            ></TextView>
    <TextView
              android:style="@style/textStyle"
              android:text="  alignRight  "
              android:layout_marginTop="4dp"
              android:layout_alignRight="text6"
              android:layout_below="alignLeft"
            ></TextView>
    <TextView
            id="alignTop"
              android:style="@style/textStyle"
              android:text="alignTop"
              android:maxWidth="46dp"
              android:layout_marginLeft="4dp"
              android:layout_alignTop="text7"
              android:layout_toRightOf="text7"
            ></TextView>
    <TextView
              android:style="@style/textStyle"
              android:text="alignBottom"
              android:maxWidth="52dp"
              android:layout_marginLeft="4dp"
              android:layout_alignBottom="text7"
              android:layout_toRightOf="alignTop"
            ></TextView>
    <TextView
              android:style="@style/textStyle"
              android:text="above&toLeftOf"
              android:layout_above="text7"
              android:layout_toLeftOf="text7"
            ></TextView>
    <TextView
              android:style="@style/textStyle"
              android:text="toRightOf & toLeftOf & below"
              android:layout_below="text7"
              android:layout_toLeftOf="text7"
              android:layout_toRightOf="text5"
            ></TextView>
</RelativeLayout>