<ScrollView>
    <LinearLayout
            android:orientation="vertical"
            android:padding="12dp"
            android:gravity="center">
        <TextView android:layout_width="wrap_content">
            TextView
        </TextView>
        <Button android:layout_width="wrap_content">
            Button
        </Button>
        <ImageView android:src="assets/images/logo_google_3.png">
        </ImageView>
        <CheckBox android:layout_width="wrap_content"
                  android:layout_marginBottom="12dp">
            CheckBox
        </CheckBox>
        <RadioGroup
                android:gravity="center"
                android:orientation="HORIZONTAL"
                android:layout_marginBottom="12dp">
            <RadioButton android:layout_width="wrap_content">
                Radio1
            </RadioButton>
            <RadioButton android:layout_width="wrap_content">
                Radio2
            </RadioButton>
            <RadioButton android:layout_width="wrap_content">
                Radio3
            </RadioButton>
        </RadioGroup>
        <Button id="btn_open_dialog"
                android:layout_width="wrap_content">
            OpenDialog
        </Button>
        <Spinner android:layout_width="wrap_content"
                 android:entries='["Item1", "Item2", "Item3", "Item4", "Item5", "Item6", "Item7"]'>
        </Spinner>
        <Button id="btn_show_popup"
                android:visibility="gone"
                android:layout_width="wrap_content">
            PopupWindow
        </Button>

        <ProgressBar android:layout_height="wrap_content"
                     android:layout_width="wrap_content"
                     android:layout_marginBottom="12dp"></ProgressBar>
        <ProgressBar android:layout_height="wrap_content"
                     android:layout_width="match_parent"
                     android:layout_marginBottom="12dp"
                     style="@android:attr/progressBarStyleHorizontal"
                     android:max="100"
                     android:progress="50"
                     android:secondaryProgress="70"></ProgressBar>

        <SeekBar android:layout_height="wrap_content"
                 android:layout_width="match_parent"
                 android:layout_marginBottom="12dp"></SeekBar>

        <RatingBar android:layout_height="wrap_content"
                   android:layout_width="wrap_content"
                   android:layout_marginBottom="12dp"></RatingBar>

    </LinearLayout>
</ScrollView>