<ScrollView>
    <LinearLayout
            android:orientation="vertical">
        <View android:style="@style/line_spit"></View>
        <TextView
                android:text="Text"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:padding="10dp"
                android:text="Text Padding10"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:padding="10dp"
                android:text="Line1
Line2
Line3
Line4"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:maxLines="2"
                android:ellipsize="END"
                android:padding="10dp"
                android:text="maxLines=2
maxLines=2
maxLines=2
maxLines=2"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="center"
                android:text="Text Center"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:minLines="2"
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="center"
                android:text="Text minLines=2"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="right"
                android:text="Text Right"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_height="100dp"
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="center"
                android:text="Text Center"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_height="100dp"
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="bottom"
                android:text="Text Bottom"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_height="100dp"
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="center_vertical"
                android:text="Text center vertical"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_height="100dp"
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="center_horizontal"
                android:text="Text center horizontal"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_height="100dp"
                android:layout_width="match_parent"
                android:padding="10dp"
                android:gravity="right|bottom"
                android:text="Text right&bottom"
                android:style="@style/textStyle"
                ></TextView>
        <View android:style="@style/line_spit"></View>
        <TextView
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:padding="10dp"
                android:gravity="center"
                android:drawablePadding="12dp"
                android:drawableLeftUri="assets/images/logo_android_1@2x.png"
                android:drawableTopUri="assets/images/logo_android_1@2x.png"
                android:drawableRightUri="assets/images/logo_android_1@2x.png"
                android:drawableBottomUri="assets/images/logo_android_1@2x.png"
                android:text="Image around text"
                android:style="@style/textStyle"
                ></TextView>
    </LinearLayout>
</ScrollView>