<ScrollView>
    <LinearLayout
            android:padding="0 6dp"
            android:orientation="vertical">
        <TextView>自适应高宽:</TextView>
        <ImageView
                android:src="assets/images/logo_android_1@2x.png"
                android:style="@style/imageStyle"
                ></ImageView>
        <TextView>FitCenter(默认ScaleType):</TextView>
        <LinearLayout>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:layout_height="200dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:layout_width="match_parent"
                    android:layout_marginLeft="4dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
        </LinearLayout>
        <TextView>FitStart:</TextView>
        <LinearLayout>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="fitStart"
                    android:layout_height="200dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="fitStart"
                    android:layout_width="match_parent"
                    android:layout_marginLeft="4dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
        </LinearLayout>
        <TextView>FitEnd:</TextView>
        <LinearLayout>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="fitEnd"
                    android:layout_height="200dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="fitEnd"
                    android:layout_width="match_parent"
                    android:layout_marginLeft="4dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
        </LinearLayout>
        <TextView>FitXy:</TextView>
        <LinearLayout>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="fitXy"
                    android:layout_height="200dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="fitXy"
                    android:layout_width="match_parent"
                    android:layout_marginLeft="4dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
        </LinearLayout>
        <TextView>Center:</TextView>
        <LinearLayout>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="center"
                    android:layout_height="80dp"
                    android:layout_width="80dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="center"
                    android:layout_height="180dp"
                    android:layout_width="180dp"
                    android:layout_marginLeft="4dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
        </LinearLayout>
        <TextView>centerCrop:</TextView>
        <LinearLayout>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="centerCrop"
                    android:layout_height="80dp"
                    android:layout_width="80dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="centerCrop"
                    android:layout_marginLeft="4dp"
                    android:layout_height="100dp"
                    android:layout_width="60dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="centerCrop"
                    android:layout_height="60dp"
                    android:layout_width="100dp"
                    android:layout_marginLeft="4dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
        </LinearLayout>
        <TextView>centerInside:</TextView>
        <LinearLayout>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="centerInside"
                    android:layout_height="80dp"
                    android:layout_width="80dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
            <ImageView
                    android:src="assets/images/logo_android_1@2x.png"
                    android:scaleType="centerInside"
                    android:layout_height="180dp"
                    android:layout_width="180dp"
                    android:layout_marginLeft="4dp"
                    android:style="@style/imageStyle"
                    ></ImageView>
        </LinearLayout>

        <TextView>Background:</TextView>
        <FrameLayout
                android:style="@style/imageStyle"
                android:backgroundUri="assets/images/logo_android_1@2x.png"
                ></FrameLayout>

    </LinearLayout>
</ScrollView>