<ScrollView>
    <LinearLayout
            android:orientation="vertical"
            android:gravity="center">
        <Button
                android:layout_width="wrap_content">
            Button
        </Button>
        <Button
                android:layout_width="wrap_content"
                android:enabled="false">
            DisableButton
        </Button>
        <Button id="btn_click">
            ButtonClick
        </Button>
        <Button android:layout_width="wrap_content"
                onclick="this.setText('Click:'+new Date().getTime());">
            ButtonClick2
        </Button>
        <Button id="btn_long_click">
            ButtonLongClick
        </Button>
        <Button
                android:style="@style/btn_custom1"
                >
            ButtonStyled
        </Button>
        <Button
                android:style="@style/btn_custom1"
                android:enabled="false"
                >
            ButtonStyledDisable
        </Button>
        <Button
                android:padding="8dp"
                android:layout_margin="6dp"
                android:textColor="@color/white"
                android:cornerRadius="4dp"
                android:background="#f00"
                android:state_pressed="@style/btn_custom1/pressed"
                >
            ButtonStyled2
        </Button>
        <Button
                android:padding="8dp"
                android:layout_margin="6dp"
                android:textColor="@color/white"
                android:cornerRadius="4dp"
                android:background="#f00"
                android:state_pressed="background:#f66;"
                >
            ButtonStyled3
        </Button>
    </LinearLayout>
</ScrollView>