<FrameLayout>
    <android.support.v4.view.ViewPager
            android:background="#88000000"
            >
        <androidui.widget.HtmlDataPagerAdapter>
            <uk.co.senab.photoview.PhotoView
                    android:src="assets/images/logo_android_3.png">
            </uk.co.senab.photoview.PhotoView>
            <uk.co.senab.photoview.PhotoView
                    android:src="assets/images/logo_android_2.png">
            </uk.co.senab.photoview.PhotoView>
            <uk.co.senab.photoview.PhotoView
                    android:src="assets/images/logo_google_1.jpg">
            </uk.co.senab.photoview.PhotoView>
            <uk.co.senab.photoview.PhotoView
                    android:src="assets/images/logo_google_2.png">
            </uk.co.senab.photoview.PhotoView>
        </androidui.widget.HtmlDataPagerAdapter>
    </android.support.v4.view.ViewPager>
    <LinearLayout
            android:padding="4dp 12dp"
            android:layout_gravity="bottom"
            android:layout_height="wrap_content"
            android:background="#55000000"
            >
        <TextView android:textColor="white">
            Support gesture event, from
        </TextView>
        <TextView android:textColor="#FF0000cc" android:padding="4dp"
                  android:state_pressed="background:#66ffffff"
                onclick="location.href = 'https://github.com/chrisbanes/PhotoView'">
            PhotoView
        </TextView>
    </LinearLayout>
</FrameLayout>