<ScrollView>
    <LinearLayout
            android:padding="0 6dp"
            gravity="center"
            android:orientation="vertical">
        <TextView gravity="center">旋转:</TextView>
        <ImageView
                id="rotate_repeat"
                android:src="assets/images/logo_android_1@2x.png"
                android:layout_width="56dp"
                android:layout_height="56dp"
                android:layout_margin="20dp 12dp"
                ></ImageView>
        <TextView gravity="center">平移:</TextView>
        <ImageView
                id="translate_repeat"
                android:src="assets/images/logo_android_1@2x.png"
                android:layout_width="56dp"
                android:layout_height="56dp"
                android:layout_margin="12dp"
                ></ImageView>
        <TextView gravity="center">缩放:</TextView>
        <ImageView
                id="scale_repeat"
                android:src="assets/images/logo_android_1@2x.png"
                android:layout_width="56dp"
                android:layout_height="56dp"
                android:layout_margin="12dp"
                ></ImageView>
        <TextView gravity="center">透明:</TextView>
        <ImageView
                id="alpha_repeat"
                android:src="assets/images/logo_android_1@2x.png"
                android:layout_width="56dp"
                android:layout_height="56dp"
                android:layout_margin="12dp"
                ></ImageView>
        <TextView gravity="center">动画组合:</TextView>
        <ImageView
                id="anim_set"
                android:src="assets/images/logo_android_1@2x.png"
                android:layout_width="56dp"
                android:layout_height="56dp"
                android:layout_margin="12dp"
                ></ImageView>
    </LinearLayout>
</ScrollView>