<ScrollView>
    <LinearLayout
            android:orientation="vertical">
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="Place Input"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="Input Type: textUri"
                android:inputType="textUri"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="Input Type: textEmailAddress"
                android:inputType="textEmailAddress"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="Input Type: textPassword"
                android:inputType="textPassword"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="Input Type: number"
                android:inputType="number"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="Input Type: numberPassword"
                android:inputType="numberPassword"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="Input Type: phone"
                android:inputType="phone"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:hint="maxLength11"
                android:maxLength="11"
                android:inputType="phone"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:maxLines="2"
                android:padding="10dp"
                android:text="maxLines=2
maxLines=2
maxLines=2
maxLines=2"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:minLines="2"
                android:layout_width="match_parent"
                android:gravity="center"
                android:text="minLines=2"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:layout_height="100dp"
                android:layout_width="match_parent"
                android:text="static height"
                android:style="@style/editStyle"
                ></EditText>
        <View android:style="@style/line_spit"></View>
        <EditText
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:gravity="center"
                android:drawablePadding="12dp"
                android:drawableLeft="url(assets/images/logo_android_1@2x.png)"
                android:drawableTop="url(assets/images/logo_android_1@2x.png)"
                android:drawableRight="url(assets/images/logo_android_1@2x.png)"
                android:drawableBottom="url(assets/images/logo_android_1@2x.png)"
                android:text="Image around EditText"
                android:style="@style/editStyle"
                ></EditText>
    </LinearLayout>
</ScrollView>