<android.support.v4.widget.DrawerLayout>
    <LinearLayout
            android:orientation="vertical"
            android:gravity="center"
            android:layout_height="match_parent"
            android:layout_width="match_parent">
        <Button
                onclick="this.getParent().getParent().openDrawer(android.view.Gravity.LEFT);"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                >打开左抽屉</Button>
        <Button
                onclick="this.getParent().getParent().openDrawer(android.view.Gravity.RIGHT);"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                >打开右抽屉</Button>
    </LinearLayout>
    <LinearLayout
            android:layout_gravity="left"
            android:background="white"
            android:clickable="true"
            android:layout_height="match_parent"
            android:layout_width="220dp">
        <TextView
                android:layout_height="match_parent"
                android:layout_width="match_parent"
                android:gravity="center"
                >左抽屉</TextView>
    </LinearLayout>
    <LinearLayout
            android:layout_gravity="right"
            android:background="white"
            android:clickable="true"
            android:layout_height="match_parent"
            android:layout_width="220dp">
        <TextView
                android:layout_height="match_parent"
                android:layout_width="match_parent"
                android:gravity="center"
                >右抽屉</TextView>
    </LinearLayout>
</android.support.v4.widget.DrawerLayout>