<LinearLayout
        android:orientation="vertical"
        android:gravity="center">
    <NumberPicker id="picker"
                  android:layout_height="280dp"
                  android:itemCount="5"
                  android:minValue="1"
                  android:maxValue="9"
            >
        <androidui.widget.HtmlDataPickerAdapter>
            <item>1</item>
            <item>2</item>
            <item>3</item>
            <item>4</item>
            <item>5</item>
            <item>6</item>
            <item>7</item>
            <item>8</item>
            <item>9</item>
        </androidui.widget.HtmlDataPickerAdapter>
    </NumberPicker>
</LinearLayout>