<ScrollView>
    <LinearLayout
            android:orientation="vertical"
            android:gravity="center">
        <Button
                android:layout_width="wrap_content">
            普通-按钮
        </Button>
        <Button
                android:layout_width="wrap_content"
                android:enabled="false">
            Disable按钮
        </Button>
        <Button id="btn_click">
            点击没有300msDelay
        </Button>
        <Button id="btn_long_click">
            长按LongClick
        </Button>
        <Button android:layout_width="wrap_content"
                onclick="this.AndroidView.setText('点击:'+new Date().getTime());">
            也可以用onclick属性/addEventListener设置监听
        </Button>

        <Button
                android:style="@style/btn_custom1"
                >
            引用样式
        </Button>
        <Button
                android:style="@style/btn_custom1"
                android:enabled="false"
                >
            引用样式Disable
        </Button>
        <Button
                android:padding="8dp"
                android:layout_margin="6dp"
                android:textColor="@color/white"
                android:background="#f00"
                android:state_pressed="@style/btn_custom1/pressed"
                >
            引用状态样式
        </Button>
        <Button
                android:padding="8dp"
                android:layout_margin="6dp"
                android:textColor="@color/white"
                android:background="#f00"
                android:state_pressed="background:#f66;"
                >
            内联状态样式
        </Button>
    </LinearLayout>
</ScrollView>