<LinearLayout
        android:gravity="center_vertical"
        android:orientation="vertical">

    <LinearLayout
            android:orientation="vertical">
        <TextView
                android:text="垂直线性布局"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="垂直线性布局"
                android:style="@style/textStyle"
                ></TextView>

    </LinearLayout>
    <LinearLayout
            android:layout_marginTop="12dp"
            android:gravity="center"
            android:orientation="vertical">
        <TextView
                android:text="垂直线性布局-居中"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="垂直线性布局-居中"
                android:style="@style/textStyle"
                ></TextView>

    </LinearLayout>

    <LinearLayout
            android:layout_marginTop="12dp"
            android:orientation="horizontal">
        <TextView
                android:text="水平"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="线性"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="布局"
                android:style="@style/textStyle"
                ></TextView>

    </LinearLayout>
    <LinearLayout
            android:layout_marginTop="12dp"
            android:gravity="center"
            android:orientation="horizontal">
        <TextView
                android:text="水平"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="线性"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="布局"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="-居中"
                android:style="@style/textStyle"
                ></TextView>

    </LinearLayout>
    <LinearLayout
            android:layout_marginTop="12dp"
            android:gravity="right"
            android:orientation="horizontal">
        <TextView
                android:text="水平"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="线性"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="布局"
                android:style="@style/textStyle"
                ></TextView>
        <TextView
                android:text="-居右"
                android:style="@style/textStyle"
                ></TextView>

    </LinearLayout>

    <TextView
            android:layout_marginTop="12dp"
            android:gravity="center"
            android:text="更多用法请看官方文档"
            ></TextView>

</LinearLayout>